<h1><%= @event.title %></h1>
<h3>Descriptions: </h3>
<p> <%= @event.description %> </p>
<p>Event start: <%= @event.starts_at %> </p>
<p>Event end: <%= @event.ends_at %> </p>

<p>Spots left: <%= @event.spots_left %></p>