<ul class="nav navbar-nav navbar-left">
	<% if user_signed_in? %>
    <li><%= link_to "Add Event", new_user_event_path(current_user.id) %></li>
    <li><%= link_to "My Events", user_events_path(current_user.id) %></li> 
    
    <%= form_for :search, url: search_path , method: :post, html: {class: "navbar-form navbar-left", role: "search"} do |f| %>
      <div class="form-group">
        <%= f.search_field :search, name: "search_data",  placeholder: "Event Type", class: "form-control" %>
      </div>
        <%= f.button type: :submit, class: "btn btn-primary", value: "Search" %>
    <% end %>
  <% else %>

  <% end %>
</ul>


<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li><%= link_to "Profile", user_path(current_user.id) %> </li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: "DELETE" %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>